body {
    background: linear-gradient(0deg, rgb(23 23 23 / 70%), rgb(23 23 23 / 70%)), url(../uploads/bg2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif!important;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif!important;
    font-weight: 600;
    line-height: 1.2;
}

@media screen and (max-width:800px) {
    div h1 {
        font-size: 1.5rem;
    }
}

label {
    color: #fff;
    font-size: 14px;
}

.uk-button.uk-button-primary {
    background: linear-gradient(-45deg, #0a1791, #0b135c, #23a6d5);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    color: #fff;
    padding: 5px 50px;
    border-radius: 5px;
    font-weight: 600;
}

.uk-button.uk-button-secondary {
    background-size: 400% 400%;
    color: #fff;
    padding: 5px 50px;
    border-radius: 5px;
    font-weight: 600;
    background: #3c3c3c;
}
  
.uk-button.uk-button-primary:hover {
    color: #fff;
}
  
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }

select.uk-select {
    padding: 0 40px;
}

.uk-input, .uk-select, .uk-textarea {
    border-radius: 5px;
}

div.uk-modal-dialog {
    background: linear-gradient(0deg, rgb(23 23 23 / 70%), rgb(23 23 23 / 70%)), url(../uploads/bg2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

[class*=uk-modal-close-] {
    position: relative;
    top: 8px;
    right:0;
}