<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/mojs/latest/mo.min.js"></script>
    <link rel="shortcut icon" href="https://www.serhant.com/favicon.ico" />
    <title>Welcome Inman Agents</title>
    <meta name="description" content="Please RSVP to Attend Our Event Opening Reception">
</head>

<body>
    <div class="uk-height-viewport">
        <div class="uk-position-center">
            <div class="uk-text-center uk-light uk-padding">
                <img src="../uploads/white-logo.png" alt="SERHANT." width="150" class="uk-animation-slide-top-small">
                <div class="uk-flex uk-flex-center uk-animation-slide-bottom-small">
                    <div class="uk-width-2xlarge uk-margin-medium-top">
                        <h1>Welcome Inman Agents</h1>
                        <p>Please RSVP to Attend Our Event Opening Reception</p>
                    </div>
                </div>
                <div class="uk-margin-small-top uk-flex uk-flex-center">
                    <div class="uk-width-large">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSe_QpgyS_0MBkygeJ5Ox6XBbgs2TOHHBLMeUNsez7_J7o9sFg/viewform?message_id=624519c9f17198658310fad7" class="uk-button uk-button-primary uk-width-1-1">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-position-bottom uk-text-center uk-padding">
            <div class="uk-light">
                <small>Copyright 2022 &middot; SERHANT.</small>
            </div>
        </div>
    </div>



    <div class='light x1'></div>
    <div class='light x2'></div>
    <div class='light x3'></div>
    <div class='light x4'></div>
    <div class='light x5'></div>
    <div class='light x6'></div>
    <div class='light x7'></div>
    <div class='light x8'></div>
    <div class='light x9'></div>


</body>

</html>